* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .jump {
  
    position: fixed;
    z-index: 50;
    bottom: 20%;
    right: 0;
    width: 30px;
    height: 30px;
  
  }
  
  .header {
    
    top: 0;
    position: fixed;
    background-image: linear-gradient(to left, #f72585, #e10092, #c6009f, #a200ac, #7209b7);
    height: auto;
    width: 100%;
    z-index: 50;
  }
  
  .nav-link:hover {
    color: black !important;
    transition-duration: 0.6s;
  }
  
  .text1 {
    text-align: center;
  
  }
  
  .title {
  
    padding: 30px;
  }
  
  .sign-icon {
    align-items: center;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    color: whitesmoke;
  }
  
  .sign-icon:hover {
    color: black;
    transition: all 0.8s ease-in-out;
  }
  
  .footer {
    margin-top: 10%;
    position: relative;
    background-image: linear-gradient(to bottom, #f72585, #ec1f75, #e11b66, #d51957, #c9184a);
    height:fit-content;
  }
  
  .logo {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .icon-footer {
    padding-top: 10px;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
  
  }
  
  .icon-footer>svg {
    width: 32px;
    height: 32px;
    color: white;
  }
  
  .icon-footer>svg:hover {
  
    width: 40px;
    height: 40px;
    color: #000;
    transition: all 0.6s ease-in-out;
  }
  
  .down>span {
    color: white;
    font-size: larger;
  }
  .modal-contain{
    color: white;
    border-radius: 10px;
    margin-top:5%;
    position: fixed;
    left: 50%;
    border: 1px solid #000;
    width: 30%;
    transform: translateX(-50%);
    background-image: linear-gradient(to right bottom, #cb997e, #d1987c, #d6977a, #dc9679, #e29578);
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    opacity: 0;
    pointer-events: none;
  }
  .modal-contain:target {
    opacity: 1;
    pointer-events: all;
    z-index: 40;
  }

  .modal-contain:target body{
    background-color: #000;
  }
  .button-signin
  {
    border: none;
    margin-top: 10%; 
    margin-left: 50%;
    transform:translateX(-55%);
    padding-top:3%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
    border-radius: 20px;
  }
  .button-signin:hover{
    background-image: linear-gradient(to right bottom, #a7c957, #67d695, #34dad0, #5ed8f6, #a2d2ff);
    transition: all 0.5s linear;
    font-size: large;
  }
  
  .modal-signin>video{
    position: absolute;
    right: 0;
    padding-left: 5%;
    height: auto;
  }
  /* CONTINUE */
  .content{
    padding-top: 5%;
      width: 100%;
      padding-left: 5%;
  }
  .contain{
  display: grid;
  width: 100%;
  grid-template-areas: 
  "pic1 pic1 pic2"
  "pic1 pic1 para1";
  column-gap: 5%;
  row-gap: 5%;
  }
  
  .horizone-vd{
      grid-area: pic1;
  }
  .horizone-info{
  grid-area: pic2;
  align-self: center;
  }
  .horizone-para{
  grid-area: para1;
  font-size: larger;
  width: 80%;
  }
  .buy-hori{
      position: relative;
  }
  .buy-button{
      border-radius: 10px;
      padding: 10px;
     right: 0;
     top: 0;
      position: absolute;
  }
  .buy-button>button{
    background-image: linear-gradient(to right bottom, #bb9457, #c19561, #c6966a, #c99774, #cb997e);
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    margin-right: 10px;
  }
  .buy-button>button:hover{
  opacity: 0.8;
  }
  .buy-buy{
      padding:10px 30px;
      border-radius: 20px;
      border: none;
  }
  .picture-hori{
      grid-template-areas: 
      "int1 int1"
      "int2 int3"
      "int4 int4";
      margin-top: 5%;
      display: grid;
      width: 60%;
      column-gap: 1%;
      row-gap: 1%;
      margin-left: 50%;
      transform: translateX(-50%);
  }
  
  .picture-1{
      grid-area: int1;
  }
  .picture-2{
      grid-area: int2;
  }
  .picture-3{
      grid-area: int3;
  }
  .picture-4{
      grid-area: int4;
  }
  .requirement{
    background-image: linear-gradient(to right bottom, #d5bdaf, #e0ccba, #ebdbc6, #f5ead2, #fefae0);
      margin-top: 5%;
      transform: translateX(-50%);
      margin-left: 50%;
      gap: 10%;
      width: fit-content;
      grid-template-areas: 
      "re-1 re-2";
      display: grid;
      padding: 3%;
      background-color: #00b09b;
  }
 